html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* background-color: #e4e4e7; */
  background-color: rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  display: flex; 
  flex-direction: column;
  text-align: center;  

  min-height: 100vh;
  margin: 0;
  padding: 0;
}


header {
  
}

a, p {
  text-decoration: none;
}

h1, h2 {
  text-align: center;
}

h3, h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;  
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.navi-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.title-select {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}

.header {
  margin: 5px;
  padding: 5px;
  background: #e6e7e8; /*Запасной однотонный цвет для очень старых браузеров */
  background: -webkit-linear-gradient(top, #e6e7e8, #d1d2d3); /* Для старых WebKit (Safari ≤5.1, Chrome ≤25) */
  background: -moz-linear-gradient(top, #e6e7e8, #d1d2d3); /* Для старых Firefox (≤3.6) */
  background: -o-linear-gradient(top, #e6e7e8, #d1d2d3); /* Для старых Opera (≤12) */
  background: linear-gradient(to bottom, #e6e7e8, #d1d2d3); /* Стандартный синтаксис (все современные браузеры) */

}

@media (max-width: 1155px) {
  .header {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .header {
    margin: 0;
    padding: 0;
  }
}

.build-content {
  width: 98%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1%;
}

.block {
  border: 1px solid rgba(170, 170, 170, 0.8); 
  border-radius: 5px;
  background-color: rgba(209, 209, 209, 0.8);
  margin-bottom: 5px;

  height: 400px;
}

.description-top {
  height: 100px;
  border: 1px solid rgba(170, 170, 170, 0.8); 
  border-radius: 5px;
  background-color: rgba(209, 209, 209, 0.8);
  margin-bottom: 5px;
}

.filter-builds {
  height: 100px;
  border: 1px solid rgba(170, 170, 170, 0.8); 
  border-radius: 5px;
  background-color: rgba(209, 209, 209, 0.8);
  margin-bottom: 5px;
}


.class-list {  
  border: 1px solid black; 
  margin-bottom: 5px; 
}

.build {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 3px;
  height: 150px;
  margin: 5px, 0;
  border: 1px solid rgba(170, 170, 170, 0.8);
  border-radius: 5px;
  background-color: rgba(209, 209, 209, 0.8);
}

/* div {
  border: 1px solid black;
} */

.build-1 {
  background-color: aquamarine;
}

.build-2 {
  background-color: rgb(195, 255, 127);
}

.build-3 {
  background-color: rgb(255, 189, 127);
}

.img-class-item {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.build-top {
  height: 50px;
  display: flex;
  flex-direction: row;  
  margin-bottom: auto;
  border: 1px solid black;
  
}

.img-class-item {
  margin-right: 20px;
}

.build-title-block {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-right: auto;
  box-sizing: border-box;
}

.b-t-b-blok {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.build-skills-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.b-s-img-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid black;
}

.build-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.build-navi {
  display: flex;
  align-items: center;
}

.build-key {
  padding-left: auto; 
}

.build-navi-like {
  margin-right: 10px; 
  height: 30px;
}

.build-navi-share {
  margin-right: 10px;
  height: 30px;
  text-align: center;
}

.build-navi-more {
  height: 30px;
}

.b-k-item {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 3px;
  padding: 1px;
}





.ePopDiv {
  max-width: 600px;
  width: auto;
  height: auto;
  border: solid #000000 3px;
  background-color: rgb(250, 248, 229);  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 3px;

  position: absolute;
  z-index: 100;
  left: 0;
  top: 0px;

  /* Скрывает переполнение текста   */
  overflow: hidden; 
  /* Переносит длинные слова на следующую строку */  
  word-wrap: break-word; 
  /* Позволяет перенос строк и сохраняет нужные переносы */    
  white-space: pre-wrap; 
}

footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  
  flex-grow: 3;
  
}

.byline {    
  margin-top: auto;
  height: 70px;
}



